<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <h1>GoodEats</h1>
    <p>Welcome to GoodEats, where culinary excellence meets warm hospitality.
        We are a small, family-owned restaurant nestled in the heart of Aurangabad,
        dedicated to serving you delicious, handcrafted meals with a touch of love.</p>
    <p>Quality, freshness, and a passion for food drive our culinary journey.
        We believe in using only the finest ingredients, and every dish is prepared with love and attention to detail.
        When you dine with us, you're not just a customer; you're our guest,
        and we'll do everything we can to make your experience memorable</p>
</body>
</html>